*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    outline: none; border: none;
    text-decoration: none;
}

body {
    background: #fff;
    background-color: #fff;
    box-sizing: border-box;
}
/* css for header */

:root{
    --box-shadow:0 .5px 10px rgb(0,0,0,0.1);
}

html{
    font-size: 70%; /* Ukuran font dasar jadi 70% dari default */
    overflow-x: hidden; /* Sembunyikan overflow horizontal */
    scroll-padding-top: 5px; /* Beri padding atas saat scrolling */
    scroll-behavior: smooth; /* Scroll halus */
}

html::-webkit-scrollbar{
    width: 12px;
}

/* Kustomisasi track scrollbar (area di mana scrollbar bergerak) */
html::-webkit-scrollbar-track{
    background: transparent;
}

/* Kustomisasi handle scrollbar (elemen yang bisa digerakkan) */   
html::-webkit-scrollbar-thumb{
    background: #bdbdbd;
}

html::-webkit-scrollbar-thumb:hover{
    background: #939393
}

.header .header-1{
    background: #fff;
    padding: 10px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    float: left;
}

.header .header-1 .search-form{
    width: 700px;
    height: 3rem;
    border: 1px solid #803D3B;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header .header-1 .search-form input{
    font-size: 13px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.header .header-1 .search-form label{
    font-size: 15px;
    padding-right: 10px;
    color: #9d9d9d;
}

.header .header-1 .search-form label:hover{
    color: #803D3B;
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 20px;
    margin-left: 1.5rem;
    color: #584130;
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: #AF8260;
}

#search-btn{
    display: none;
}

.header .header-2{
    background: #E4C59E;
    transition: 0.5s;
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #803D3B;
    display: inline-block;
    margin: 0 15px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
}

.header .header-2 .navbar a:hover{
    background: #AF8260;
    color: #fff;
}

.header .header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background: #E4C59E;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    /* bottom navbar tetap muncul di atas konten lainya saat di-scroll. */
    z-index: 1000;                
    display: none;
}

.bottom-navbar a{
    font-size: 20px;
    padding: 15px 35px;
    color: #803D3B;
}

.bottom-navbar a:hover{
    background: #AF8260;
    color: #fff;
}
.header .header-1{
    background: #fff;
    padding: 10px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    float: left;
}

.header .header-1 .search-form{
    width: 700px;
    height: 3rem;
    border: 1px solid #803D3B;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header .header-1 .search-form input{
    font-size: 13px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.header .header-1 .search-form label{
    font-size: 15px;
    padding-right: 10px;
    color: #9d9d9d;
}

.header .header-1 .search-form label:hover{
    color: #803D3B;
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 20px;
    margin-left: 1.5rem;
    color: #584130;
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: #AF8260;
}

#search-btn{
    display: none;
}

.header .header-2{
    background: #E4C59E;
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #803D3B;
    display: inline-block;
    margin: 0 15px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
}

.header .header-2 .navbar a:hover{
    background: #AF8260;
    color: #fff;
}

.header .header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background: #E4C59E;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    /* bottom navbar tetap muncul di atas konten lainya saat di-scroll. */
    z-index: 1000;                
    display: none;
}

.bottom-navbar a{
    font-size: 20px;
    padding: 15px 35px;
    color: #803D3B;
}

.bottom-navbar a:hover{
    background: #AF8260;
    color: #fff;
}


/* CSS homepage */
.dis{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.play{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.play .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 320px;
    background: #0000;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.play .card:hover{
    height: 300px;
}

.play .card .imgBx{
    position: absolute;
    top: 20px;
    width: 250px;
    height: 230px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.play .card:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.play .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play .card .content{
    position: absolute;
    top: 260px;
    width: 100%;
    padding: 0 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.play .card:hover .content{
    top: 130px;
    height: 250px;
}

.play .card .content h2{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}

.play .card .content p{
    color: #333;
}

.play .card .content a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

/* Optional CSS for better visibility */
.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
}

button{
    position: relative;
    margin-left: auto;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: 500;
    border: 2px solid #af8260;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
}

button a{
    text-decoration: none;
    color: #803D3B;
}

span{
    text-align: center;
    background: #af8260;
    color: #FFF8EF;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

span:hover{
    color: #FFF8EF;
}

button:hover span{
    width: 100%;
    color: #FFF8EF;
}

button a:hover{
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
}

.btn1{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 650px;
}


.dining{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.dining img{
    max-width: 495px;
    margin-right: 0;
}

.din1{
    background-color: #fae1c2;
    padding: 282px 217px;
}

.din1 h2{
    font-size: 26px;
    font-weight: 350;
}

.wrapper{
    padding: 10px 10%;
}

#card-area{
    padding: 50px 0;
}

.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;
}

.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #e4c59e 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: #803D3B;
}

.overlay p{
    font-weight: 300;
}

.overlay h3{
    font-weight: 500;
    margin-top: 5px;
    margin-top: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.overlay a{
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    background: #803d3b;
    border-radius: 10px;
    text-align: center;
    padding: 5px 15px;
}

.overlayp{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #e4c59e 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 400px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: #803D3B;
}

.overlayp h3{
    font-weight: 500;
    margin-top: 5px;
    margin-top: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.overlayp a{
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    background: #803d3b;
    border-radius: 10px;
    text-align: center;
    padding: 5px 15px;
}

.overlayp p{
    font-weight: 300;
}

.boxLhover img{
    transform: scale(1.2);
}

.box:hover .overlay{
    height: 100%;
}

.box:hover .overlayp{
    height: 100%;
}

.befo{
    margin-top: 50px;
    text-align: left;
}

.befo h2{
    text-align: center;
    font-weight: normal;
    font-size: 26px;
}

.befo-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.befo-card{
    width: 325px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0);
    margin: 20px;
}

.befo-card img{
    width: 400px;
    height: auto;
}

.befo-content{
    padding: 16px;
    color: #803d3b;
}

.befo-content h3{
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 500;
}

.befo-content p{
    color: #666;
    font-size: 13px;
    line-height: 1.3;
}

.bef{
    display: flex;
    background-color:#af8260;
    color: #fff;
    text-align: left;

}

.bef1{
    text-align: left;
    padding: 60px 20px;
}

.bef1 h2{
    font-size: 24px;
}

.bef2{
    padding: 40px 20px;
}

.bef button{
    margin-left: 650px;
    border: 2px solid #fff;
}

.bef button a{
    text-decoration: none;
    color: #fff;
}


/* CSS for footer */
.footer {
    background-color: #FFF8EF;
    color: #333;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    flex: 1;
}

.footer-left p{
    color: #9B9B9B;
}

.footer-logo img {
    width: 170px;
    display: block;
    margin-bottom: 10px;
}

.footer-center,
.footer-right {
    flex: 1;
}

.useful-links,
.idea-advice,
.payment-methods {
    align-self: flex-start;
    margin-top: 90px;
    margin-left: 50px;
}

.useful-links,
.idea-advice{
    display: inline-block;
    margin-right: 30px;

}

.useful-links a,
.idea-advice a {
    margin-top: 20px;
    color: #9B9B9B;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.payment-methods {
    margin-top: 90px;
}

.payment-methods img {
    width: 200px;
    margin-right: 10px;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }
    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%; right: 16px;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top: 115%;
    }

    #search-btn{
        display: inline-block;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-center, .footer-right {
        min-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width:477px){
    .section-p1{
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }

    /* header */
    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }

}

@media (max-width: 480px) {
    .user-links a {
        margin-left: 10px;
    }

    .col1 a {
        display: block;
        margin: 10px 0;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .paragraph {
        padding: 20px;
    }
}


@media (max-width:450px){
    html{
        font-size: 50%;
    }
}
